<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PLA -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pla.presentation.PlaModelWizardID"
            name="%_UI_PlaModelWizard_label"
            class="pla.presentation.PlaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PlaModelFile.gif">
         <description>%_UI_PlaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PLA -->
      <editor
            id="pla.presentation.PlaEditorID"
            name="%_UI_PlaEditor_label"
            icon="icons/full/obj16/PlaModelFile.gif"
            extensions="pla"
            class="pla.presentation.PlaEditor"
            contributorClass="pla.presentation.PlaActionBarContributor">
      </editor>
   </extension>

</plugin>
